.content-wrap {
    background: rgb(237, 238, 188);
    padding-left: 0mm;
}
<<<<<<< HEAD
/* .friends{
  margin: 
} */
=======
.font{
  font-size: small;
}
.logo{
  height:20px;
  width: 20px;
  
}

.locate{
 text-align: center;
}

>>>>>>> 8dd3b06b48c2ccf63efa4a0815bf8c68f3f45ad0
