.arrows {
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    margin-top: 75px;
    margin-bottom: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: dotted;
}

.name {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lang {
    text-align: center;
}

.userName {
    text-align: center;
}

.bio {
    text-align: center;
}

.avatar-img {
    height: 100px;
    padding-top: 5em;
    padding-bottom: 1em;
    border-radius: 0%;
}

.body {
    background-color: black;
}

.input {
    position: fixed;
}

.collabBtn {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.margin {
    margin-top: 20px ;
}
.content-wrap {
    background: rgb(237, 238, 188);
}

/* .search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn{
  float: right;
  width: 40px;
  height: 40px;
  color: #7A9E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;



}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
background-color: white;
}


.search-txt {
  border:none;
  background:none;
  outline:none;
  float:left;
  padding:0;
  color:white;
  font-size:16px;
  transition:0.4s;
  line-height: 40px;
  width: 0px;

} */